:root {
  /*text*/
  --color-text-dark: #303030;
  --color-text-white: #ffffff;
  --color-text-main-grey: #555555;
  --color-text-secondary-grey: #9da4bd;
  --color-text-transparent-grey: rgba(157, 164, 189, 0.6);
  --color-text-accent: #ff6c00;
  /*background*/
  --bg-color-main: #ffffff;
  --bg-color-dark: #191c26;
  --bg-color-sect: #f7f7f7;
  --bg-button: rgba(255, 108, 0, 0);
  --bg-button-active: #ff6c00;
  --button-color-border: #ff6c00;
  --bg-gradient-card-1: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  --bg-gradient-card-2: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  /*fonds*/
  --fond-main: 'Open Sans', sans-serif;
  --fond-accent: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;}

  h1,
h2,
h3,
p {
  margin: 0;}

body {
  background-color: var(--bg-color-main);
  color: var(--color-text-main-grey);
  font-family: var(--fond-main);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
    margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.list {
  list-style: none;
  margin: 0;

}
/*header*/

.header {
  background-color: var(--bg-color-dark);
}
.nav {
  display: flex;
align-items: center;
}
.logo {
margin-right: 70px;
}

.list-nav {
  display: flex;
  padding: 0;

}
.list-item-nav {
  margin-right:30px ;
}
.list-item-nav:last-child {
  margin-right:0;
}


.link-nav {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  text-decoration: none;
  color: var(--color-text-white);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
}
.link-nav:hover,
.link-nav:focus {
color: var(--color-text-accent);
}
.header-group {
  display: flex;
}
.link-tel {
  margin-right: 45px;
}




/* остановилась тут затік с размером кнопки */
.btn {
  padding: 10px 18px;
  

  color: var(--color-text-white);
  background-color: var(--bg-button);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-color: var(--button-color-border);
  border-radius: 25px;
}
.btn:hover,
.btn:focus {
    background-color: var(--color-text-accent);
}


/*main*/

.hero {
    background-color: var(--bg-color-dark);   
}
.link-social {
   color: var(--color-text-dark); 
    font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.2em;
}
.uppertitle {
    color: var(--color-text-dark);
    font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.1em;
text-transform: uppercase;
}
.hero-uppertitle {
color:var(--color-text-transparent-grey);
}

.main-title {
    color: var(--color-text-dark);
    font-family: var(--fond-accent);
    font-weight: 700;
font-size: 42px;
line-height: calc(49 / 42);
letter-spacing: 0.05em;
}
.hero-title {
    color: var(--color-text-white);
    font-size: 72px;
    line-height: calc(85 / 72);
       letter-spacing: 0.05em;
    
}

.subtitle {
font-size: 18px;
line-height: calc(30 / 18);
letter-spacing: 0.02em;
}
.hero-subtitle {
   color: var(--color-text-secondary-grey);
}
.desc {
    line-height: calc(26 / 14);
letter-spacing: 0.02em;
}
.btn-back {
    background-color: var(--bg-button);
    color: var(--color-text-transparent-grey);
font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.1em;
}
.btn-forward {
    background-color: var(--bg-button);
    font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
text-align: right;
letter-spacing: 0.1em;
}